@font-face {
    font-family: poppins;
    src: url('../fonts/Poppins/Poppins-Regular.ttf');
    font-weight: bold;
}

@font-face {
    font-family: monserrat;
    src: url('../fonts/Montserrat/Montserrat-VariableFont_wght.ttf');
    font-weight: bold;
}

@font-face {
    font-family: lato;
    src: url('../fonts/lato/Lato-Light.ttf');
    font-weight: bold;
}

* {
    box-sizing: border-box;
}

html {
    padding: 0;
    margin: 0;
    height: auto;
}

body {
    padding: 0;
    margin: 0;
    position: relative;
    height: 100%;
    background-color: #f0f0f0;
}

nav {
    height: auto;
    width: 100%;
    position: relative;
}

.container {
    width: 80%;
    height: auto;
    padding: 0px;
    margin: 0 auto;
    height: 100%;
}
.section{
    /* color: #fff; */
    background-color:  #fff;
    border-radius:  0 0 20px 20px;
    margin-bottom: 50px;
}

.content {
    font-family: poppins;
    font-size: 15px;
}

nav {
    background-color: #333;
    height: 50px;
}
nav .container{
    display: block;
    content: "";
    clear: both;
    position: relative;
}

nav #navbar-list {
    float: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav #navbar-list li {
    float: left;
}

nav #navbar-list li a {
    display: block;
    color: #aaa;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: lato;
    font-weight: lighter;
    font-size: 20px;
}

nav #navbar-list li .active {
    color: #fff;
}

nav #navbar-list li a:hover {
    background-color: #111;
}

nav .navbar-right {
    float: right;
}

.flex-container>div {
    margin: 10px;
    padding: 20px;
}

.flex-container {
    display: flex;
    flex-wrap: inherit;
    text-align: center;
}

.flex-item-left {
    padding: 10px;
    flex: 70%;
}
.content-left-header img{
    border-radius: 15px;
}
.content-left-header{
    font-size: 30px;
    width: auto;
    top: 50px;
    left: calc(30% - 200px);
}

.flex-item-right {
    border-left: rgba(0, 0, 0, 0.5) solid 1px;
    padding: 10px;
    flex: 30%;
}

/* /////////////////////////// */
.flex-container-about {
    display: flex;
    align-items: stretch;
    background-color: #f1f1f1;
}

.flex-container-about>div {
    background-color: DodgerBlue;
    color: white;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
}

.second-header {
    width: 100%;
    background-color: #222;
    padding: 10px 16px;
    margin: 0 auto;
    height: 80px;
}

ul.breadcrumb {
    margin: 0;
    list-style: none;
    padding-left: 50px;
}

.container-breadcrumb{
    margin-bottom: 20px;
}

ul.breadcrumb li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 5px;
    display: inline;
    font-size: 15px;
}

ul.breadcrumb li+li:before {
    padding: 8px;
    color: #a3a3a3;
    content: "/\00a0";
}

ul.breadcrumb li a {
    color: #a3a3a3;
    text-decoration: none;
}

ul.breadcrumb li a:hover {
    color: #333;
    text-decoration: underline;
}

.card {
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 40%;
    margin: 0 auto;
    background-color: white;
    -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}


/* ----------------------------------------------
 * Generated by Animista on 2022-9-23 9:54:27
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-up-center
 * ----------------------------------------
 */
@-webkit-keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}


.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card .container {
    padding: 2px 16px;
    background-color: white;
}

.heading {
    margin-top: 0;
    margin-bottom: 0;
    padding: 30px 10px 0px 10px;
    padding-left: 50px;
    font-weight: bold;
    font-size: 30px;
    text-transform: capitalize;
}

.heading-thankyou {
    width: 100%;
    text-align: center;
    margin: 30px auto;
    font-weight: bold;
    font-size: 30px;
    text-transform: capitalize;
}

footer {
    text-align: center;
    background-color: #333;
    color: white;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
    padding: 10px;
}

footer a {
    color: white;
}

#table-contact {
    width: 100%;
    height: auto;
    border: 1 solid rgba(0, 0, 0, 0.2);
    font-size: 18px;
}

#table-contact tr td {
    padding: 5px 10px;
}

#table-container {
    font-size: 18px;
    padding-top: 25px;
    width: 50%;
    margin: 0 auto;
    padding: 10px;
}

.grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
    grid-gap: 20px;
    align-items: stretch;
}

.grid>article {
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
}

.grid>article img {
    max-width: 100%;
}

.grid .text {
    padding: 20px;
}
/* //////////////////// */

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    column-gap: 10px;
}

.grid-item {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
}

.grid-container-about {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
    column-gap: 10px;
}

.grid-container-about .grid-item i {
    font-size: 30px; text-align: center; width: 100%; color: #fff;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.grid-container-about .grid-item {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
}

.bg-about-video{
    background-image: url('../images/bg-about-video-simple-01.png');
    background-size: cover;
}
.audio-control{
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1;
    margin: 30px;
}
.content-abbout {
    margin: 10px 15px;
}

.card-about {
    margin-bottom: 50px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin: 0 auto;
    background-color: white;
    width: 90%;
    height: 250px;
}

@supports (grid-area: auto) {
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.box {
    text-align: center;
    align-items: center;
    border-radius: 15px;
    padding: 15px;
    background-color: #fff;
    border: 0.1px solid rgba(0, 0, 0, 0.2);
    height: auto;
    margin: 10px;
}

.box span {
    font-size: 20px;
    font-weight: bolder;
}

.box ul {
    padding: 0;
    list-style-type: none;
}

.box ul li {
    padding: 10px 3px;
    border-bottom: 0.1px solid rgba(0, 0, 0, 0.2);
}

.box ul li:hover {
    font-size: 20px;
    padding: 10px 3px;
    border-bottom: 0.1px solid rgba(0, 0, 0, 0.2);
}
